<textarea style="width:500px; height:500px;">

<div class="row btm-pad product-landing-btn-block">
	<div class="col-md-12 link-section"><a href="<%=@link%>" title="<%=@text%>" class="animation-target<%=@div%>"><%=@text1%></a></div>
</div>

</textarea>
