<!DOCTYPE html>
<html>
<head>
  <title>HTML & CSS Converter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
 
</head>

<body>
    <div class="pull-left top-pad btm-pad tax-img-responsive">
<img src="https://www.bankbazaar.com/images/bankbazaar-logo.png" title="Bankbazaar" alt="Bankbazaar">
</div>
<ul id="nav">
    <li><a href="https://color-box-akilan.c9users.io/box">Home</a>
     <!-- <ul>
            <li><a href="#">Submenu element</a></li>
            .....
        </ul>  -->
    </li>
    <li><a href="https://color-box-akilan.c9users.io/cta">CTA Button</a></li>
   <li><a href="https://color-box-akilan.c9users.io/img">Image Updation</a></li>
    <li><a href="https://color-box-akilan.c9users.io/hastag">HashTag</a></li>
</ul>

<%= yield %>

</body>
</html>
